{{!-- <a href="/one-formation/{{this._id}}" class="formation-wrapper">
    <div class="formation-img">
        <img src="{{this.image}}" alt="{{this.title}} : inscrivez-vous!">
    </div>
    <p class="formation-title">{{this.name}}</p>
    <p class="formation-category">{{this.category}}</p>
    <p class="formation-minidescription">{{this.minidescription}}</p>
</a>  --}}


<div class="oneBox">
    <a href="/one-formation/{{this._id}}" class="formation-wrapper">

	<div class="formationWrapper">
    <div class="product-img">
        <img class="one-image" src="{{this.image}}" alt="{{this.name}}">
    </div>
        <div class="one-hache">
		<h2 class="hache-formations">{{this.title}}</h2>
        </div>
		<button>
			<span>
				<span>
					<span data-attr-span="En savoir plus"></span>
				</span>
			</span>
		</button>
        
	</div>
    </a>
</div> 
